/* Questions */

  h2 {
    margin: 15px;
    text-align: center;
  }

  div[id^="div"], div[class^="div"] {
    border: 1px solid #ECF8F8;
    margin: 8px;
    padding: 10px;
    box-shadow: black 4px 4px 9px;
  }

  ul {
    padding-left: 20px;
  }

  a {
    text-decoration: none;
    display: block;
  }

  a:link, a:visited, a:hover, a:active {
    color: black;
  }

  .sectn2 {
    margin-top: 30px;
  }