/* table */

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;      
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

caption {font-weight: 900; font-size: larger;}

mark {
    background-color: cornflowerblue; 
    color: yellow; 
    padding-left: 4px;
    padding-right: 4px;
}

thead {
    background-color: darkcyan;
    color: white;
}

tbody {background-color: wheat;}

#first {width: 14%;}
#second {width: 20%;}
#third {width: 24%;}




